* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 4) 0px 5px 15px 0px;
    color: #000;
}

header nav {
    position: relative;
    right: 30px;
}

header h1 {
    position: relative;
    left: 20px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 50px 20px;
}

#personaje-contenedor {
    display: grid;
    margin: 90px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.line{
    border: 1px solid black;
    width: 90%;
}


.card .card-image .card-title {
    color: dodgerblue;
    position: unset;
}

.card {
    margin: 20px;
    box-shadow: 6px 9px 20px 7px rgba(0,0,0,0.5);
    -webkit-box-shadow: 6px 9px 20px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 9px 20px 7px rgba(0,0,0,0.5);
}